# Archivos de configuración de IDE (Android Studio / IntelliJ)
*.iml
*.prod
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/other.xml
.idea/runConfigurations.xml
.idea/studiobot.xml
.idea/migration.xml
# Excluir TODO .idea, excepto los archivos que sí quiera compartir
# (como inspectionProfiles, que sí está bien)
.idea/*
!.idea/inspectionProfiles/
!*.idea/inspectionProfiles/Project_Default.xml
!.idea/kotlinc.xml
!.idea/vcs.xml

# Archivos compilados y builds
/build
/app/build
/captures/

# Archivos locales de Gradle
.gradle/
local.properties

# Log de errores de Android Studio
*~
*.log

# Archivos de emulador
.cxx/
*.apk
*.aab

# Imágenes y assets que no son del proyecto
logo_iaeav-playstore.png
